nav {
    background: rgb(238, 236, 236);
    padding: 5px 20px;
    opacity: 0.8;
  }
  
  ul {
    list-style-type: none;
  }
  a {
    color: rgb(19, 132, 167);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: rgb(140, 189, 223)
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 1rem;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a, .toggle a {
    font-size: 20px;
  }
  
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  
  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
  }
  
  
  /* Desktop menu */
  @media all and (min-width: 900px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .menu li {
      padding: 15px 10px;
    }
  }


